<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lblog.blogbackend.mapper.ArticleTagAssMapper">
    <resultMap id="BaseResultMap" type="com.lblog.blogbackend.model.entity.ArticleTagAssEntity">
        <result column="article_id" jdbcType="INTEGER" property="articleId" />
        <result column="tag_id" jdbcType="INTEGER" property="tagId" />
    </resultMap>

    <sql id="lhd">article_tag_ass</sql>

    <insert id="insert" parameterType="java.lang.Integer" >
        insert into <include refid="lhd"/>
        (article_id, tag_id)
        values (#{articleId}, #{tagId})
    </insert>

    <delete id="deleteByTagId" parameterType="java.lang.Integer" >
        delete from <include refid="lhd"/>
        where tag_id = #{value}
    </delete>

    <delete id="deleteByArticleId" parameterType="java.lang.Integer" >
        delete from <include refid="lhd"/>
        where article_id = #{value}
    </delete>

    <select id="countArticleByTagId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from <include refid="lhd"/>
        where tag_id = #{value}
    </select>

    <select id="listTagByArticleId" parameterType="java.lang.Integer" resultType="com.lblog.blogbackend.model.entity.TagEntity">
        SELECT tag.* FROM tag, article_tag_ass
        WHERE article_tag_ass.article_id = #{value} AND
            article_tag_ass.tag_id = tag.tag_id
    </select>


</mapper>
