<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lblog.blogbackend.mapper.TagMapper" >
    <resultMap id="BaseResultMap" type="com.lblog.blogbackend.model.entity.TagEntity" >
        <id column="tag_id" property="tagId" jdbcType="INTEGER" />
        <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
        <result column="tag_description" property="tagDescription" jdbcType="VARCHAR" />
        <result column="tag_deleted_time" property="tagDeletedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List" >
        tag_id, tag_name, tag_description, tag_deleted_time
    </sql>

    <sql id="lhd">tag</sql>

    <select id="getTagById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from <include refid="lhd"/>
        where tag_id = #{tagId,jdbcType=INTEGER}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer" >
        delete from <include refid="lhd"/>
        where tag_id = #{tagId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.lblog.blogbackend.model.entity.TagEntity" useGeneratedKeys="true" keyProperty="tagId">
        insert into <include refid="lhd"/>
        (tag_name, tag_description,tag_deleted_time)
        values (#{tagName,jdbcType=VARCHAR}, #{tagDescription,jdbcType=VARCHAR},#{tagDeletedTime,jdbcType=TIMESTAMP})
    </insert>


    <update id="update" parameterType="com.lblog.blogbackend.model.entity.TagEntity" >
        update <include refid="lhd"/>
        <set >
            <if test="tagName != null" >
                tag_name = #{tagName,jdbcType=VARCHAR},
            </if>
            <if test="tagDescription != null" >
                tag_description = #{tagDescription,jdbcType=VARCHAR}
            </if>
            <if test="tagDeletedTime != null">
                tagDeletedTime = #{tagDeletedTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where tag_id = #{tagId,jdbcType=INTEGER}
    </update>

    <!--获得标签列表-->
    <select id="listTag"  resultType="com.lblog.blogbackend.model.entity.TagEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM <include refid="lhd"/>
    </select>

    <!--获得标签总数-->
    <select id="countTag" resultType="Integer">
        SELECT COUNT(*) FROM <include refid="lhd"/>
    </select>

    <!--根据标签名获取标签-->
    <select id="getTagByName" parameterType="String" resultType="com.lblog.blogbackend.model.entity.TagEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="lhd"/>
        WHERE tag_name=#{value}
        limit 1
    </select>
</mapper>